PORT=3025
UPLOAD_TOKEN=troque_este_token
PUBLIC_BASE_URL=https://seudominio.com
UPLOAD_DIR=./uploads
MAX_FILE_SIZE_MB=5

UPLOAD_ADAPTER=local
DISCORD_WEBHOOK_URL=
DISCORD_USE_AS_PRIMARY=false

RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=60
